# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import xlsxwriter 
import pandas as pd 
import requests 
from scipy import stats
import math

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [4]:
symbol = 'aapl'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'

data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'DNCTSAMGQ T(NLAE/KOSGE LB)LA ERAS', 'calculationPrice': 'close', 'open': 134.72, 'openTime': 1679556414872, 'openSource': 'olfifica', 'close': 135.04, 'closeTime': 1635057387586, 'closeSource': 'aiifcofl', 'high': 137, 'highTime': 1634721155537, 'highSource': 'dpelm drcui5ate einy 1e', 'low': 135.3, 'lowTime': 1612770241889, 'lowSource': 'iaedctnp1udrleee  y im5', 'latestPrice': 135.28, 'latestSource': 'Close', 'latestTime': 'December 24, 2020', 'latestUpdate': 1659649799618, 'latestVolume': 56242691, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexLastUpdated': None, 'delayedPrice': 133.32, 'delayedPriceTime': 1642604351860, 'oddLotDelayedPrice': 137.77, 'oddLotDelayedPriceTime': 1624028084640, 'extendedPrice': 133, 'extendedChange': 0.03, 'extendedChangePercent': 0.00023, 'extendedPriceTime': 1660762163400, 'previousClose': 131.75, 'previousVolume': 92583232, 'change': 1.05, 'changePercent': 0.00808, 'volume': 55408859, 'iexMarketPercent': None, 'iexVolume': None, 'avgTotalVolume': 107683996, 'iexBidPrice': None, 'iexBidSize': None, 'iexAskPrice': None, 'iexAskSize': None, 'iexOpen': 132.509, 'iexOpenTime': 1610846066937, 'iexClose': 137.837, 'iexCloseTime': 1659909251566, 'marketCap': 2284707192989, 'peRatio': 41.08, 'week52High': 137.67, 'week52Low': 57.01, 'ytdChange': 0.8421612786680951, 'lastTradeTime': 1653183399892, 'isUSMarketOpen': False}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [5]:
price = data['latestPrice']
pe_ratio = data['peRatio']
print(price, pe_ratio)

135.28 41.08

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [6]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD
GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP
MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK
ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL
YUM,ZBH,ZBRA,ZION,ZTS

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [7]:
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    #print(symbol_string)
    data = requests.get(batch_api_call_url).json()
    
    #print(data.status_code)
    
    for symbol in symbol_string.split(","):
        final_dataframe = final_dataframe.append(
        pd.Series(
        [
            symbol,
            data[symbol]['quote']['latestPrice'],
            data[symbol]['quote']['peRatio'],
            'N/A'
        ],
        index=my_columns),
        ignore_index=True)
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  121.98                   53.25                     N/A
1      AAL   15.80                   -1.16                     N/A
2      AAP  165.14                   24.02                     N/A
3     AAPL  137.58                   40.89                     N/A
4     ABBV  108.21                   22.97                     N/A
..     ...     ...                     ...                     ...
500    YUM  109.60                    33.1                     N/A
501    ZBH  155.75                 -207.28                     N/A
502   ZBRA  391.83                   45.06                     N/A
503   ZION   43.46                    18.7                     N/A
504    ZTS  165.88                    47.8                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [8]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace=True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0 ]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
#

In [9]:
final_dataframe.drop('index', axis=1, inplace=True)
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   35.44                     2.2                     N/A
1    NLOK   21.52                    4.05                     N/A
2     UNM   22.72                    4.79                     N/A
3     AIV    5.17                    4.97                     N/A
4     BIO  601.04                    4.98                     N/A
5     KIM   14.86                     6.7                     N/A
6     ALL  109.81                    7.78                     N/A
7     MET   46.85                    7.95                     N/A
8    EBAY   51.39                    8.06                     N/A
9    BIIB  260.01                    8.45                     N/A
10     KR   32.47                    8.54                     N/A
11    CPB   49.91                    8.72                     N/A
12    PNC  147.00                    8.86                     N/A
13    SRE  131.10                    9.04                     N/A
14     BK   42.61                    9.23                     N/A
15   INTC   47.81                    9.29                     N/A
16    PHM   47.00                    9.45                     N/A
17    NEE   77.34                    9.48                     N/A
18    CTL   11.00                    9.89                     N/A
19    HIG   50.65                   10.51                     N/A
20    MAS   57.25                   10.51                     N/A
21    HBI   14.86                   10.56                     N/A
22    MGM   31.74                   10.72                     N/A
23    AFL   45.86                   10.98                     N/A
24   VIAC   37.25                   11.17                     N/A
25   FOXA   28.42                    11.2                     N/A
26    PFG   48.62                   11.27                     N/A
27    CVS   68.67                   11.41                     N/A
28   PBCT   13.22                   11.43                     N/A
29    TSN   65.93                   11.54                     N/A
30    LEN   81.05                   11.58                     N/A
31    PGR   99.42                   11.59                     N/A
32    DHI   74.66                   11.65                     N/A
33     MS   70.73                    11.8                     N/A
34    STT   72.44                   11.91                     N/A
35    PPL   27.97                   11.92                     N/A
36      C   62.31                   12.14                     N/A
37    BSX   35.69                   12.67                     N/A
38    MTB  126.01                   12.81                     N/A
39   DISH   32.56                   12.84                     N/A
40    NEM   62.78                    12.9                     N/A
41    LNC   50.07                    12.9                     N/A
42    HII  165.90                   13.03                     N/A
43    HUM  413.12                    13.1                     N/A
44    MCK  178.29                   13.29                     N/A
45    AMP  195.10                   13.39                     N/A
46    ABC   98.91                    13.4                     N/A
47     VZ   59.33                   13.52                     N/A
48     GD  152.51                   13.77                     N/A
49    OMC   64.10                   13.91                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [10]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [11]:
portfolio_input()

Enter the value of your portfolio:1000000000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [12]:
position_size = float(portfolio_size)/len(final_dataframe.index)

for row in final_dataframe.index:
    final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row, 'Price'])
    
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   35.44                     2.2                  564334
1    NLOK   21.52                    4.05                  929368
2     UNM   22.72                    4.79                  880281
3     AIV    5.17                    4.97                 3868471
4     BIO  601.04                    4.98                   33275
5     KIM   14.86                     6.7                 1345895
6     ALL  109.81                    7.78                  182132
7     MET   46.85                    7.95                  426894
8    EBAY   51.39                    8.06                  389180
9    BIIB  260.01                    8.45                   76920
10     KR   32.47                    8.54                  615953
11    CPB   49.91                    8.72                  400721
12    PNC  147.00                    8.86                  136054
13    SRE  131.10                    9.04                  152555
14     BK   42.61                    9.23                  469373
15   INTC   47.81                    9.29                  418322
16    PHM   47.00                    9.45                  425531
17    NEE   77.34                    9.48                  258598
18    CTL   11.00                    9.89                 1818181
19    HIG   50.65                   10.51                  394866
20    MAS   57.25                   10.51                  349344
21    HBI   14.86                   10.56                 1345895
22    MGM   31.74                   10.72                  630119
23    AFL   45.86                   10.98                  436109
24   VIAC   37.25                   11.17                  536912
25   FOXA   28.42                    11.2                  703729
26    PFG   48.62                   11.27                  411353
27    CVS   68.67                   11.41                  291247
28   PBCT   13.22                   11.43                 1512859
29    TSN   65.93                   11.54                  303352
30    LEN   81.05                   11.58                  246761
31    PGR   99.42                   11.59                  201166
32    DHI   74.66                   11.65                  267881
33     MS   70.73                    11.8                  282765
34    STT   72.44                   11.91                  276090
35    PPL   27.97                   11.92                  715051
36      C   62.31                   12.14                  320975
37    BSX   35.69                   12.67                  560381
38    MTB  126.01                   12.81                  158717
39   DISH   32.56                   12.84                  614250
40    NEM   62.78                    12.9                  318572
41    LNC   50.07                    12.9                  399440
42    HII  165.90                   13.03                  120554
43    HUM  413.12                    13.1                   48412
44    MCK  178.29                   13.29                  112176
45    AMP  195.10                   13.39                  102511
46    ABC   98.91                    13.4                  202204
47     VZ   59.33                   13.52                  337097
48     GD  152.51                   13.77                  131138
49    OMC   64.10                   13.91                  312012

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [14]:
symbol = 'AAPL'

batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()
print(data)

# Price-to-earnings ratio
pe_ratio = data[symbol]['quote']['peRatio']

# Price-to-book ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

# Price-to-sales ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# Enterprise Value divided by Gross Profit (EV/GP)
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

{'AAPL': {'advanced-stats': {'beta': 1.1608631975162014, 'totalCash': 92848897312, 'currentDebt': 105669158766, 'revenue': 277039069336, 'grossProfit': 108898748270, 'totalRevenue': 282677211491, 'EBITDA': 78656751499, 'revenuePerShare': 16.92, 'revenuePerEmployee': 2068805.05, 'debtToEquity': 4.9608385963371, 'profitMargin': 0.21785877322773445, 'enterpriseValue': 2282116395235, 'enterpriseValueToRevenue': 8.27, 'priceToSales': 8.47, 'priceToBook': 35.77, 'forwardPERatio': 33.60247547306042, 'pegRatio': 3.898002564337028, 'peHigh': 42.39768197975443, 'peLow': 17.13606371994341, 'week52highDate': '2020-08-30', 'week52lowDate': '2020-03-12', 'putCallRatio': 0.3187360376884329, 'companyName': 'Apple Inc', 'marketcap': 2253535763751, 'week52high': 135.61, 'week52low': 57.9, 'week52change': 0.8484429200708611, 'sharesOutstanding': 17181036882, 'float': None, 'avg10Volume': 123135655, 'avg30Volume': 105543629, 'day200MovingAvg': 113.8, 'day50MovingAvg': 128.06, 'employees': 139268, 'ttmEPS': 3.35, 'ttmDividendRate': 0.8122054604956507, 'dividendYield': 0.006227531538299837, 'nextDividendDate': None, 'exDividendDate': '2020-11-02', 'nextEarningsDate': None, 'peRatio': 39.74474091715195, 'maxChangePercent': 51.3065799979218, 'year5ChangePercent': 4.309001210035068, 'year2ChangePercent': 2.70755756651771, 'year1ChangePercent': 0.9053609364447375, 'ytdChangePercent': 0.8220790622627631, 'month6ChangePercent': 0.4673892919825697, 'month3ChangePercent': 0.18074251259680232, 'month1ChangePercent': 0.1378047543130678, 'day30ChangePercent': 0.1396474331248643, 'day5ChangePercent': 0.04359482892661869}, 'quote': {'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'ASLAC E )SEETOBMLT LAKDRGNGA/NQ(S', 'calculationPrice': 'close', 'open': 131.47, 'openTime': 1623075704804, 'openSource': 'faoflcii', 'close': 135.73, 'closeTime': 1672346550953, 'closeSource': 'falcofii', 'high': 135.07, 'highTime': 1612632869034, 'highSource': 'elp rt eanddiyu1emci e5', 'low': 131.8, 'lowTime': 1674530254121, 'lowSource': 'neui e yeterpcdai lm15d', 'latestPrice': 132.62, 'latestSource': 'Close', 'latestTime': 'December 24, 2020', 'latestUpdate': 1613299650873, 'latestVolume': 55932204, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexLastUpdated': None, 'delayedPrice': 137.49, 'delayedPriceTime': 1626144110912, 'oddLotDelayedPrice': 138.03, 'oddLotDelayedPriceTime': 1678205807258, 'extendedPrice': 137, 'extendedChange': 0.03, 'extendedChangePercent': 0.00023, 'extendedPriceTime': 1682433223841, 'previousClose': 133.41, 'previousVolume': 88428417, 'change': 1.02, 'changePercent': 0.00779, 'volume': 55111219, 'iexMarketPercent': None, 'iexVolume': None, 'avgTotalVolume': 106104649, 'iexBidPrice': None, 'iexBidSize': None, 'iexAskPrice': None, 'iexAskSize': None, 'iexOpen': 137.717, 'iexOpenTime': 1644964735645, 'iexClose': 135.537, 'iexCloseTime': 1648452089615, 'marketCap': 2304010725410, 'peRatio': 40.56, 'week52High': 138.27, 'week52Low': 58.42, 'ytdChange': 0.837213362673061, 'lastTradeTime': 1676058103103, 'isUSMarketOpen': False}}}

In [35]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Books Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns=rv_columns)
rv_dataframe

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Books Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [36]:
for symbol_string in symbol_strings:
    print(symbol_string)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}' #f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json() 
    
    for symbol in symbol_string.split(','):
      
        
        # Price-to-earnings ratio
        pe_ratio = data[symbol]['quote']['peRatio']

        # Price-to-book ratio
        pb_ratio = data[symbol]['advanced-stats']['priceToBook']

        # Price-to-sales ratio
        ps_ratio = data[symbol]['advanced-stats']['priceToSales']

        # Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        try :
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
            

        # Enterprise Value divided by Gross Profit (EV/GP)
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        try :
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
        
        
        rv_dataframe = rv_dataframe.append(
        pd.Series([
            symbol,
            data[symbol]['quote']['latestPrice'],
            'N/A',
            pe_ratio,
            'N/A',
            pb_ratio,
            'N/A',
            ps_ratio,
            'N/A',
            ev_to_ebitda,
            'N/A',
            ev_to_gross_profit,
            'N/A',
            'N/A'
        ], 
        index = rv_columns), 
        ignore_index = True)

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD
GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP
MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK
ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL
YUM,ZBH,ZBRA,ZION,ZTS

In [13]:
try :
    ev_to_ebitda = enterprise_value/ebitda
except TypeError:
    np.NaN

{'week52change': 0.290414, 'week52high': 169.51, 'week52low': 90.41, 'marketcap': 75861250162, 'employees': 10724, 'day200MovingAvg': 134.17, 'day50MovingAvg': 148.64, 'float': 479955020, 'avg10Volume': 1641586.3, 'avg30Volume': 1479579.2, 'ttmEPS': 3.499, 'ttmDividendRate': 0.77, 'companyName': 'Zoetis, Inc.', 'sharesOutstanding': 494883276, 'maxChangePercent': 3.3525, 'year5ChangePercent': 1.69, 'year2ChangePercent': 0.608, 'year1ChangePercent': 0.281583, 'ytdChangePercent': 0.189876, 'month6ChangePercent': 0.10241, 'month3ChangePercent': 0.297048, 'month1ChangePercent': 0.159224, 'day30ChangePercent': 0.165634, 'day5ChangePercent': -0.012817, 'nextDividendDate': None, 'dividendYield': 0.00489706569361443, 'nextEarningsDate': '2020-10-13', 'exDividendDate': '2020-07-01', 'peRatio': 49.1, 'beta': 0.9584403132945124, 'totalCash': 1974321215, 'currentDebt': 549171552, 'revenue': 6518431250, 'grossProfit': 4133660573, 'totalRevenue': 6300683466, 'EBITDA': 2502772553, 'revenuePerShare': 13.28, 'revenuePerEmployee': 618960.04, 'debtToEquity': 2.45, 'profitMargin': 0.2407740535828538, 'enterpriseValue': 81297632588, 'enterpriseValueToRevenue': 13.46, 'priceToSales': 12.6, 'priceToBook': 29.222282216073907, 'forwardPERatio': 46.68, 'pegRatio': -42.88, 'peHigh': 46.10321684721315, 'peLow': 25.052455887152025, 'week52highDate': '2020-07-31', 'week52lowDate': '2020-03-22', 'putCallRatio': 1.5877629858076678}

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [42]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Books Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [38]:
rv_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'Price-to-Earnings Ratio',
       'PE Percentile', 'Price-to-Books Ratio', 'PB Percentile',
       'Price-to-Sales Ratio', 'PS Percentile', 'EV/EBITDA',
       'EV/EBITDA Percentile', 'EV/GP', 'EV/GP Percentile', 'RV Score'],
      dtype='object')

In [41]:
for column in [ 'Price', 'Price-to-Earnings Ratio', 'Price-to-Books Ratio', 'Price-to-Sales Ratio', 'EV/EBITDA', 'EV/GP']:
    print(column)
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace=True)
rv_dataframe

Price
Price-to-Earnings Ratio
Price-to-Books Ratio
Price-to-Sales Ratio
EV/EBITDA
EV/GP

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Books Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,122.96,N/A,54.73,N/A,7.45,N/A,7.0700,N/A,33.310220,N/A,12.813248,N/A,N/A
1,AAL,16.30,N/A,-1.17,N/A,-1.73,N/A,0.3984,N/A,-5.956781,N/A,1.415938,N/A,N/A
2,AAP,161.81,N/A,23.66,N/A,2.90,N/A,1.1200,N/A,10.881612,N/A,2.471409,N/A,N/A
3,AAPL,132.89,N/A,41.16,N/A,34.68,N/A,8.4600,N/A,29.042397,N/A,22.003266,N/A,N/A
4,ABBV,108.01,N/A,23.15,N/A,12.09,N/A,4.6700,N/A,15.877040,N/A,9.442430,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.95,N/A,33.50,N/A,-4.00,N/A,6.1000,N/A,24.180838,N/A,10.277744,N/A,N/A
501,ZBH,153.15,N/A,-209.24,N/A,2.71,N/A,4.4100,N/A,26.179409,N/A,7.726793,N/A,N/A
502,ZBRA,392.63,N/A,44.89,N/A,10.64,N/A,4.6800,N/A,29.768834,N/A,10.767936,N/A,N/A
503,ZION,44.11,N/A,18.86,N/A,1.00,N/A,2.4400,N/A,10.474847,N/A,2.700809,N/A,N/A
504,ZTS,167.01,N/A,49.61,N/A,26.48,N/A,12.0700,N/A,33.706236,N/A,17.736806,N/A,N/A

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [43]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Books Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [44]:
metrics  = {
    'Price-to-Earnings Ratio': 'PE Percentile',
    'Price-to-Books Ratio':'PB Percentile',
    'Price-to-Sales Ratio': 'PS Percentile',
    'EV/EBITDA': 'EV/EBITDA Percentile',
    'EV/GP': 'EV/GP Percentile'
}

for metric in metrics.keys():
    for row in rv_dataframe.index:
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])
        
        
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Books Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,122.96,N/A,54.73,85.9406,7.45,72.0792,7.0700,80.6931,33.310220,84.5545,12.813248,78.0198,N/A
1,AAL,16.30,N/A,-1.17,14.0594,-1.73,4.55446,0.3984,2.9703,-5.956781,2.77228,1.415938,5.94059,N/A
2,AAP,161.81,N/A,23.66,45.8416,2.90,40.396,1.1200,16.6337,10.881612,26.1386,2.471409,12.4752,N/A
3,AAPL,132.89,N/A,41.16,75.4455,34.68,96.0396,8.4600,85.1485,29.042397,80.9901,22.003266,95.0495,N/A
4,ABBV,108.01,N/A,23.15,45.1485,12.09,84.5545,4.6700,67.3267,15.877040,48.5149,9.442430,64.7525,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.95,N/A,33.50,66.3366,-4.00,4.15842,6.1000,76.2376,24.180838,74.4554,10.277744,68.7129,N/A
501,ZBH,153.15,N/A,-209.24,1.9802,2.71,38.6139,4.4100,61.7822,26.179409,77.8218,7.726793,50.099,N/A
502,ZBRA,392.63,N/A,44.89,78.0198,10.64,82.7723,4.6800,67.5248,29.768834,82.1782,10.767936,70.099,N/A
503,ZION,44.11,N/A,18.86,37.2277,1.00,10.099,2.4400,40.7921,10.474847,23.9604,2.700809,14.2574,N/A
504,ZTS,167.01,N/A,49.61,82.7723,26.48,94.2574,12.0700,93.0693,33.706236,85.1485,17.736806,91.2871,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [45]:
from statistics import mean 

for row in rv_dataframe.index:
    value_percentiles = [] 
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
        
    rv_dataframe.loc[row, "RV Score"] = mean(value_percentiles)
    #print(value_percentiles)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Books Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,122.96,N/A,54.73,85.9406,7.45,72.0792,7.0700,80.6931,33.310220,84.5545,12.813248,78.0198,80.2574
1,AAL,16.30,N/A,-1.17,14.0594,-1.73,4.55446,0.3984,2.9703,-5.956781,2.77228,1.415938,5.94059,6.05941
2,AAP,161.81,N/A,23.66,45.8416,2.90,40.396,1.1200,16.6337,10.881612,26.1386,2.471409,12.4752,28.297
3,AAPL,132.89,N/A,41.16,75.4455,34.68,96.0396,8.4600,85.1485,29.042397,80.9901,22.003266,95.0495,86.5347
4,ABBV,108.01,N/A,23.15,45.1485,12.09,84.5545,4.6700,67.3267,15.877040,48.5149,9.442430,64.7525,62.0594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.95,N/A,33.50,66.3366,-4.00,4.15842,6.1000,76.2376,24.180838,74.4554,10.277744,68.7129,57.9802
501,ZBH,153.15,N/A,-209.24,1.9802,2.71,38.6139,4.4100,61.7822,26.179409,77.8218,7.726793,50.099,46.0594
502,ZBRA,392.63,N/A,44.89,78.0198,10.64,82.7723,4.6800,67.5248,29.768834,82.1782,10.767936,70.099,76.1188
503,ZION,44.11,N/A,18.86,37.2277,1.00,10.099,2.4400,40.7921,10.474847,23.9604,2.700809,14.2574,25.2673
504,ZTS,167.01,N/A,49.61,82.7723,26.48,94.2574,12.0700,93.0693,33.706236,85.1485,17.736806,91.2871,89.3069

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [46]:
rv_dataframe.sort_values('RV Score', ascending=False, inplace=True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop=True, inplace=True)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Books Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,NOW,557.04,N/A,160.21,98.4158,45.60,96.8317,28.61,99.604,224.279385,99.802,33.667025,99.604,98.8515
1,PAYC,473.88,N/A,156.95,97.8218,47.56,97.2277,34.48,100,97.713103,98.6139,38.304049,100,98.7327
2,ADSK,312.55,N/A,159.30,98.2178,967.29,100,18.58,97.6238,104.116535,99.2079,20.032559,93.6634,97.7426
3,DXCM,365.86,N/A,151.55,97.6238,23.32,92.8713,19.16,97.8218,93.611218,98.4158,27.080208,97.8218,96.9109
4,IDXX,502.06,N/A,98.04,95.0495,157.24,98.8119,17.92,97.0297,65.448616,92.6733,30.674955,98.8119,96.4752
5,AMD,95.06,N/A,127.47,96.6337,29.17,95.2475,13.32,94.4554,76.043445,97.4257,28.649327,98.2178,96.396
6,NVDA,525.20,N/A,85.42,93.0693,21.94,92.0792,21.82,99.0099,66.548848,96.4356,35.238579,99.802,96.0792
7,MKTX,582.36,N/A,79.64,92.0792,24.38,93.4653,34.46,99.802,57.014942,91.4851,32.444240,99.4059,95.2475
8,ISRG,838.00,N/A,94.08,94.2574,10.62,82.3762,22.31,99.4059,68.668323,96.8317,30.985154,99.0099,94.3762
9,TYL,450.54,N/A,95.49,94.6535,9.66,80.7921,16.12,96.4356,88.556627,98.2178,31.779740,99.2079,93.8614
10,ILMN,379.47,N/A,85.58,93.2673,11.55,84.1584,17.33,96.6337,68.922701,97.0297,22.792153,96.0396,93.4257
11,ADBE,517.68,N/A,64.16,90.099,21.01,91.6832,19.95,98.0198,57.564476,91.6832,22.605179,95.6436,93.4257
12,MA,343.00,N/A,52.61,84.9505,59.90,97.8218,21.30,98.8119,37.528865,87.3267,22.081785,95.2475,92.8317
13,ABMD,316.55,N/A,67.00,90.8911,11.60,84.3564,17.50,96.8317,53.287636,90.495,20.085673,93.8614,91.2871
14,ANSS,374.49,N/A,84.60,92.4752,9.02,76.4356,20.66,98.4158,63.218390,92.4752,22.720255,95.8416,91.1287
15,WST,290.41,N/A,71.47,91.2871,12.26,84.7525,10.74,91.2871,40.846623,88.7129,29.552066,98.6139,90.9307
16,PYPL,247.76,N/A,94.26,94.4554,15.37,88.9109,14.00,95.5446,62.133739,92.0792,13.367097,80.7921,90.3564
17,NFLX,530.23,N/A,84.76,92.6733,23.06,92.6733,9.98,89.505,26.401364,78.2178,25.081935,97.0297,90.0198
18,INTU,381.68,N/A,55.74,86.9307,20.94,91.4851,14.00,95.5446,44.406945,89.1089,15.610909,86.9307,90
19,EW,91.19,N/A,71.31,91.0891,13.35,86.3366,13.17,94.2574,39.454889,88.3168,16.391855,88.7129,89.7426
20,ROL,41.51,N/A,53.05,85.3465,22.06,92.2772,9.39,87.7228,45.149962,89.703,18.396082,92.6733,89.5446
21,XLNX,144.88,N/A,59.13,88.5149,14.46,88.1188,12.10,93.2673,41.664469,88.9109,16.367585,88.5149,89.4653
22,ZTS,167.01,N/A,49.61,82.7723,26.48,94.2574,12.07,93.0693,33.706236,85.1485,17.736806,91.2871,89.3069
23,AMT,229.44,N/A,50.75,83.3663,27.34,94.6535,12.76,93.8614,25.729800,77.2277,21.358227,94.8515,88.7921
24,MTD,1181.70,N/A,50.30,83.1683,63.81,98.0198,9.10,87.1287,34.891960,85.3465,16.213346,87.9208,88.3168
25,V,216.40,N/A,41.12,75.2475,15.49,89.3069,21.10,98.6139,29.321055,81.5842,20.817612,94.2574,87.802
26,FTNT,157.27,N/A,58.50,88.3168,35.61,96.6337,9.94,89.0099,44.534883,89.3069,12.022740,75.0495,87.6634
27,CDNS,141.00,N/A,35.35,69.3069,15.90,89.901,15.49,95.8416,62.611389,92.2772,17.257522,90.297,87.5248
28,NKE,145.50,N/A,84.46,92.2772,24.70,93.6634,6.15,76.8317,55.993733,91.0891,14.231622,83.3663,87.4455
29,VRSK,205.81,N/A,51.99,84.5545,13.91,87.3267,12.18,93.4653,26.227569,78.0198,19.663805,93.0693,87.2871
30,CCI,157.00,N/A,112.28,95.8416,7.04,69.901,11.70,92.6733,28.542232,80.198,23.137207,96.2376,86.9703
31,CMG,1419.16,N/A,175.28,98.8119,22.89,92.4752,7.05,80.297,70.851507,97.2277,9.610105,65.9406,86.9505
32,AAPL,132.89,N/A,41.16,75.4455,34.68,96.0396,8.46,85.1485,29.042397,80.9901,22.003266,95.0495,86.5347
33,EQIX,711.38,N/A,140.63,97.0297,6.13,65.4455,11.00,91.6832,28.646989,80.396,25.798831,97.2277,86.3564
34,RMD,213.89,N/A,45.59,78.6139,11.51,83.7624,10.38,90.297,35.517532,86.1386,17.397529,90.495,85.8614
35,SNPS,268.81,N/A,61.59,89.3069,8.26,74.8515,10.92,91.4851,56.328116,91.2871,13.483544,81.5842,85.703
36,ALGN,545.97,N/A,24.58,47.0297,13.79,86.7327,18.20,97.4257,102.783057,99.0099,26.054352,97.4257,85.5248
37,IPGP,231.41,N/A,113.54,96.0396,4.96,58.5149,10.54,90.8911,35.135096,85.7426,20.445428,94.0594,85.0495
38,CPRT,128.93,N/A,44.70,77.8218,11.15,83.5644,13.62,94.8515,30.578790,83.3663,14.647972,84.9505,84.9109
39,MNST,90.06,N/A,41.90,76.2376,10.46,82.1782,11.11,92.0792,28.364694,80,17.664952,91.0891,84.3168
40,CRM,227.90,N/A,59.80,88.7129,5.25,61.7822,10.53,90.6931,131.513979,99.604,13.019250,79.2079,84
41,MSFT,232.26,N/A,36.97,70.6931,13.80,86.9307,11.99,92.8713,28.818389,80.5941,16.310558,88.3168,83.8812
42,EL,267.64,N/A,157.69,98.0198,21.80,91.8812,7.08,80.9901,35.697966,86.3366,9.096479,61.9802,83.8416
43,MXIM,89.21,N/A,35.50,69.901,14.02,87.5248,10.17,90.099,30.000721,82.5743,14.656318,85.1485,83.0495
44,ROST,120.17,N/A,143.43,97.2277,14.43,87.9208,3.37,54.6535,54.727273,90.8911,14.556476,84.5545,83.0495
45,BF.B,78.09,N/A,41.02,74.8515,15.81,89.703,8.49,85.3465,32.183868,84.1584,12.904475,78.6139,82.5347
46,AMZN,3191.15,N/A,96.18,94.8515,20.18,91.0891,4.58,63.3663,50.587356,90.099,11.349645,73.0693,82.495
47,TXN,166.51,N/A,31.56,61.5842,18.62,90.8911,11.20,92.2772,22.989907,71.8812,17.244740,90.099,81.3465
48,COO,361.52,N/A,77.29,91.6832,5.00,59.2079,8.18,84.5545,46.940184,89.901,13.435125,81.3861,81.3465
49,BKNG,2125.47,N/A,64.02,89.901,18.03,90.495,9.68,88.5149,37.850149,87.5248,7.705667,49.703,81.2277

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [52]:
portfolio_input()

Enter the value of your portfolio:2500000

In [53]:
position_size = float(portfolio_size)/len(final_dataframe.index)

for row in rv_dataframe.index:
    rv_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/rv_dataframe.loc[row, 'Price'])
    
rv_dataframe

c:\users\i2989\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Books Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,NOW,557.04,89,160.21,98.4158,45.60,96.8317,28.61,99.604,224.279385,99.802,33.667025,99.604,98.8515
1,PAYC,473.88,105,156.95,97.8218,47.56,97.2277,34.48,100,97.713103,98.6139,38.304049,100,98.7327
2,ADSK,312.55,159,159.30,98.2178,967.29,100,18.58,97.6238,104.116535,99.2079,20.032559,93.6634,97.7426
3,DXCM,365.86,136,151.55,97.6238,23.32,92.8713,19.16,97.8218,93.611218,98.4158,27.080208,97.8218,96.9109
4,IDXX,502.06,99,98.04,95.0495,157.24,98.8119,17.92,97.0297,65.448616,92.6733,30.674955,98.8119,96.4752
5,AMD,95.06,525,127.47,96.6337,29.17,95.2475,13.32,94.4554,76.043445,97.4257,28.649327,98.2178,96.396
6,NVDA,525.20,95,85.42,93.0693,21.94,92.0792,21.82,99.0099,66.548848,96.4356,35.238579,99.802,96.0792
7,MKTX,582.36,85,79.64,92.0792,24.38,93.4653,34.46,99.802,57.014942,91.4851,32.444240,99.4059,95.2475
8,ISRG,838.00,59,94.08,94.2574,10.62,82.3762,22.31,99.4059,68.668323,96.8317,30.985154,99.0099,94.3762
9,TYL,450.54,110,95.49,94.6535,9.66,80.7921,16.12,96.4356,88.556627,98.2178,31.779740,99.2079,93.8614
10,ILMN,379.47,131,85.58,93.2673,11.55,84.1584,17.33,96.6337,68.922701,97.0297,22.792153,96.0396,93.4257
11,ADBE,517.68,96,64.16,90.099,21.01,91.6832,19.95,98.0198,57.564476,91.6832,22.605179,95.6436,93.4257
12,MA,343.00,145,52.61,84.9505,59.90,97.8218,21.30,98.8119,37.528865,87.3267,22.081785,95.2475,92.8317
13,ABMD,316.55,157,67.00,90.8911,11.60,84.3564,17.50,96.8317,53.287636,90.495,20.085673,93.8614,91.2871
14,ANSS,374.49,133,84.60,92.4752,9.02,76.4356,20.66,98.4158,63.218390,92.4752,22.720255,95.8416,91.1287
15,WST,290.41,172,71.47,91.2871,12.26,84.7525,10.74,91.2871,40.846623,88.7129,29.552066,98.6139,90.9307
16,PYPL,247.76,201,94.26,94.4554,15.37,88.9109,14.00,95.5446,62.133739,92.0792,13.367097,80.7921,90.3564
17,NFLX,530.23,94,84.76,92.6733,23.06,92.6733,9.98,89.505,26.401364,78.2178,25.081935,97.0297,90.0198
18,INTU,381.68,130,55.74,86.9307,20.94,91.4851,14.00,95.5446,44.406945,89.1089,15.610909,86.9307,90
19,EW,91.19,548,71.31,91.0891,13.35,86.3366,13.17,94.2574,39.454889,88.3168,16.391855,88.7129,89.7426
20,ROL,41.51,1204,53.05,85.3465,22.06,92.2772,9.39,87.7228,45.149962,89.703,18.396082,92.6733,89.5446
21,XLNX,144.88,345,59.13,88.5149,14.46,88.1188,12.10,93.2673,41.664469,88.9109,16.367585,88.5149,89.4653
22,ZTS,167.01,299,49.61,82.7723,26.48,94.2574,12.07,93.0693,33.706236,85.1485,17.736806,91.2871,89.3069
23,AMT,229.44,217,50.75,83.3663,27.34,94.6535,12.76,93.8614,25.729800,77.2277,21.358227,94.8515,88.7921
24,MTD,1181.70,42,50.30,83.1683,63.81,98.0198,9.10,87.1287,34.891960,85.3465,16.213346,87.9208,88.3168
25,V,216.40,231,41.12,75.2475,15.49,89.3069,21.10,98.6139,29.321055,81.5842,20.817612,94.2574,87.802
26,FTNT,157.27,317,58.50,88.3168,35.61,96.6337,9.94,89.0099,44.534883,89.3069,12.022740,75.0495,87.6634
27,CDNS,141.00,354,35.35,69.3069,15.90,89.901,15.49,95.8416,62.611389,92.2772,17.257522,90.297,87.5248
28,NKE,145.50,343,84.46,92.2772,24.70,93.6634,6.15,76.8317,55.993733,91.0891,14.231622,83.3663,87.4455
29,VRSK,205.81,242,51.99,84.5545,13.91,87.3267,12.18,93.4653,26.227569,78.0198,19.663805,93.0693,87.2871
30,CCI,157.00,318,112.28,95.8416,7.04,69.901,11.70,92.6733,28.542232,80.198,23.137207,96.2376,86.9703
31,CMG,1419.16,35,175.28,98.8119,22.89,92.4752,7.05,80.297,70.851507,97.2277,9.610105,65.9406,86.9505
32,AAPL,132.89,376,41.16,75.4455,34.68,96.0396,8.46,85.1485,29.042397,80.9901,22.003266,95.0495,86.5347
33,EQIX,711.38,70,140.63,97.0297,6.13,65.4455,11.00,91.6832,28.646989,80.396,25.798831,97.2277,86.3564
34,RMD,213.89,233,45.59,78.6139,11.51,83.7624,10.38,90.297,35.517532,86.1386,17.397529,90.495,85.8614
35,SNPS,268.81,186,61.59,89.3069,8.26,74.8515,10.92,91.4851,56.328116,91.2871,13.483544,81.5842,85.703
36,ALGN,545.97,91,24.58,47.0297,13.79,86.7327,18.20,97.4257,102.783057,99.0099,26.054352,97.4257,85.5248
37,IPGP,231.41,216,113.54,96.0396,4.96,58.5149,10.54,90.8911,35.135096,85.7426,20.445428,94.0594,85.0495
38,CPRT,128.93,387,44.70,77.8218,11.15,83.5644,13.62,94.8515,30.578790,83.3663,14.647972,84.9505,84.9109
39,MNST,90.06,555,41.90,76.2376,10.46,82.1782,11.11,92.0792,28.364694,80,17.664952,91.0891,84.3168
40,CRM,227.90,219,59.80,88.7129,5.25,61.7822,10.53,90.6931,131.513979,99.604,13.019250,79.2079,84
41,MSFT,232.26,215,36.97,70.6931,13.80,86.9307,11.99,92.8713,28.818389,80.5941,16.310558,88.3168,83.8812
42,EL,267.64,186,157.69,98.0198,21.80,91.8812,7.08,80.9901,35.697966,86.3366,9.096479,61.9802,83.8416
43,MXIM,89.21,560,35.50,69.901,14.02,87.5248,10.17,90.099,30.000721,82.5743,14.656318,85.1485,83.0495
44,ROST,120.17,416,143.43,97.2277,14.43,87.9208,3.37,54.6535,54.727273,90.8911,14.556476,84.5545,83.0495
45,BF.B,78.09,640,41.02,74.8515,15.81,89.703,8.49,85.3465,32.183868,84.1584,12.904475,78.6139,82.5347
46,AMZN,3191.15,15,96.18,94.8515,20.18,91.0891,4.58,63.3663,50.587356,90.099,11.349645,73.0693,82.495
47,TXN,166.51,300,31.56,61.5842,18.62,90.8911,11.20,92.2772,22.989907,71.8812,17.244740,90.099,81.3465
48,COO,361.52,138,77.29,91.6832,5.00,59.2079,8.18,84.5545,46.940184,89.901,13.435125,81.3861,81.3465
49,BKNG,2125.47,23,64.02,89.901,18.03,90.495,9.68,88.5149,37.850149,87.5248,7.705667,49.703,81.2277

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [54]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [55]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [56]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [57]:
writer.save()